@charset "utf-8";
/* CSS Document */
body {
	background: rgba(255,248,240,0.90) url("../leaf.png") round center 100px fixed;
}

header {
	background-color: #00aeef;
	padding-left: 20px;
	max-width: 3000px;
}
/*Logo aligment*/
.logo {
	margin-top: 0px;
	text-align: center;
}
ul.breadcrumb {
  padding: 10px 30px;
  list-style: none;
  background-color: rgba(244,208,111,0.80);
  text-align: end;
}


ul.breadcrumb li {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

ul.breadcrumb li+li:before {
  padding: 18px;
  color: #392f5a ;
  content: "/\00a0";
}


ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}


ul.breadcrumb li a:hover {
  color: #356c1a;
  text-decoration: none;
}

ul.breadcrumb li a:active {
  color: #c6ff0d;
}

.center-box{
  width: 1000px;
  padding: 0px 100px 20px 100px;
  margin: 5px 230px;
  background-color: #D8F2D5;
  font-family: 'Noto Serif Telugu', serif;
  font-size: 20px;
  text-align: center;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(216,242,213,.90);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #FF8811;
  display: block;
}

.sidenav a:hover {
  color: #005c53;
}
.sidenav a:active {
  color: #c6ff0d;
  background-color: #fff
}

.main {
  margin-left: 160px; 
  font-size: 28px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
	font-family: Constantia, serif;
	text-align: center;
	color: #392F5A;
	padding-top: 40px;
}
h3 {
	color: #FF8811;
}

b {
	color: #F4D06F;
}

image {
	text-align: center;
}
a {
  text-decoration: none;
}
a:link {
	  color: #0275d8;
}
a:visited {
	color: #70D664;
}
a:focus, a:hover {
	color: #005c53;
	background-color: #fff;
}
a:active {
	color: #c6ff0d;
	background-color: #fff;
}

.description{
	text-align: left;
}

footer {
  width: 1000px;
  padding: 10px 100px;
  margin: 5px 230px;
  background-color: #C3C989;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
}